In [1]:
import pandas as pd

In [50]:
airveda = pd.read_csv('C:\\Users\\Aman Dhamija\\Downloads\\airveda_data__1201180118 (1) - airveda_data__1201180118 (1).csv')
androsensor = pd.read_csv('C:\\Users\\Aman Dhamija\\Downloads\\Sensor_record_20191106_104059_AndroSensor.csv')

In [51]:
mileage='189853'
VID='pb65024694'
SID='1201180118'

In [52]:
airveda['Created_Date(Asia/Kolkata)'] = pd.to_datetime(airveda['Created_Date(Asia/Kolkata)'],dayfirst=True)
androsensor['YYYY-MO-DD HH-MI-SS_SSS']=androsensor['YYYY-MO-DD HH-MI-SS_SSS'].str[:19]
androsensor['YYYY-MO-DD HH-MI-SS_SSS'] = pd.to_datetime(androsensor['YYYY-MO-DD HH-MI-SS_SSS'] )
# airveda_index =0
# andro_index=0
# andro_records= len(androsensor)
def append_data(host, guest):
    androsensor.loc[host,'AQI']=airveda.loc[guest,'AQI']
    androsensor.loc[host,'PM2.5']=airveda.loc[guest,'PM2.5']
    androsensor.loc[host,'PM10']=airveda.loc[guest,'PM10']
    androsensor.loc[host,'CO2']=airveda.loc[guest,'CO2']
    androsensor.loc[host,'Temperature']=airveda.loc[guest,'Temperature']
    androsensor.loc[host,'Humidity']=airveda.loc[guest,'Humidity']
    androsensor.loc[host,'mileage']=mileage
    androsensor.loc[host,'VID']=VID
    androsensor.loc[host,'SID']=SID

airveda_time ='Created_Date(Asia/Kolkata)'
androsensor_time = 'YYYY-MO-DD HH-MI-SS_SSS'

# for i in range(len(androsensor)):
#     if(androsensor.loc[i, androsensor_time] <= airveda.loc[airveda_index,airveda_time]):
#         print(androsensor.loc[i, androsensor_time])
#         print(airveda.loc[airveda_index,airveda_time])
#         append_data(i,airveda_index)
#     else:
#         if(airveda_index < (len(airveda)-1)):
#             airveda_index +=1
#             #append_data(i,airveda_index)
#         else:
#             append_data(i,airveda_index)

In [53]:
airveda_index =0
andro_index=0
andro_records= len(androsensor)
while(andro_index < andro_records):
    if(androsensor.loc[andro_index, androsensor_time] <= airveda.loc[airveda_index,airveda_time]):
        append_data(andro_index,airveda_index)
        andro_index +=1
    else:
        if(airveda_index < (len(airveda)-1)):
            airveda_index +=1
        else:
            append_data(andro_index,airveda_index)
            andro_index +=1

In [54]:
with open('major_dataset.csv','a',newline='\n') as f:
    androsensor.to_csv(f,header=False,index=False)
#androsensor.to_csv('major_dataset.csv',index=False)

In [1]:
#airveda.head(5)

In [2]:
#airveda.dtypes

In [3]:
#androsensor.shape

In [4]:
#androsensor['YYYY-MO-DD HH-MI-SS_SSS']=androsensor['YYYY-MO-DD HH-MI-SS_SSS'].str[:19]

In [5]:
#androsensor['YYYY-MO-DD HH-MI-SS_SSS'] = pd.to_datetime(androsensor['YYYY-MO-DD HH-MI-SS_SSS'] )

In [6]:
#airveda_index =0

In [7]:
# def append_data(host, guest):
#     androsensor.loc[host,'AQI']=airveda.loc[guest,'AQI']
#     androsensor.loc[host,'PM2.5']=airveda.loc[guest,'PM2.5']
#     androsensor.loc[host,'PM10']=airveda.loc[guest,'PM10']
#     androsensor.loc[host,'CO2']=airveda.loc[guest,'CO2']
#     androsensor.loc[host,'Temperature']=airveda.loc[guest,'Temperature']
#     androsensor.loc[host,'Humidity']=airveda.loc[guest,'Humidity']
#     androsensor.loc[host,'mileage']='3100'
#     androsensor.loc[host,'VID']='hr03y1973'
#     androsensor.loc[host,'SID']='1201180118'

In [8]:
# airveda_time ='Created_Date(Asia/Kolkata)'
# androsensor_time = 'YYYY-MO-DD HH-MI-SS_SSS'

In [9]:
# for i in range(len(androsensor)):
#     if(androsensor.loc[i, androsensor_time] <= airveda.loc[airveda_index,airveda_time]):
#         append_data(i,airveda_index)
#     else:
#         if(airveda_index < (len(airveda)-1)):
#             airveda_index +=1
#             append_data(i,airveda_index)
#         else:
#             append_data(i,airveda_index)

In [10]:
# androsensor.head(10)

In [37]:
#androsensor.to_csv('04112019_paritosh_trip.csv')

In [12]:
#df =pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})

In [32]:
# df2 = pd.DataFrame({'a':[11,22,33],'b':[44,55,66]})
# df.to_csv('testing.csv',index=False)

In [33]:
# with open('testing.csv','a',newline='\n') as f:
#     df2.to_csv(f,header=False,index=False)

In [34]:
# df2.head()

    a   b
0  11  44
1  22  55
2  33  66

In [35]:
# df2_read=pd.read_csv('testing.csv')

In [36]:
df2_read.head()

    a   b
0   1   4
1   2   5
2   3   6
3  11  44
4  22  55